.pagination {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.letter__wrap {
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
}

.letter__active {
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
  color: white;
  background-color: darkred;
}

.letters {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
